body{
    background-color: #e9ebee;
    font-family: 'Roboto', sans-serif;
}


.navbar-right{
    margin-left: auto !important;
    margin-right: 0 !important;
}

.main-nav .navbar{
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.14);
}


.light-shadow{
    box-shadow: 0 1px 1px rgba(0,0,0,.14);
}
.img-responsive{
    width: 100%;
    height: auto;
}
/****************** Typography *******************************************/

h1,h2,h3,h4,h5,h6{
    font-family: 'Dosis', sans-serif;
}

.full-bg-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/****************** Navbar Customization *********************************/


.navbar-light .navbar-nav .nav-link {
    color: #333;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open>.nav-link {
    color: rgba(0,0,0,.9);
}


.navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

/**************************** Hero **************************************/

.hero-item{
    min-height: 100vh;
    position: relative;
    width: 100%;
    display: table;
}
.hero-item:after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    /*background: linear-gradient(135deg,#f75b71 20%,#ffc371 80%);*/
    background-color: rgba(0,0,0,0.8);
    opacity: 0.5;
    z-index: 1;
}
.hero-content{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 2;
}

.hero-content h1{
    color: #fff;
    letter-spacing: 6px;
}
.hero-content h4{
    color: #fff;
    letter-spacing: 3px;
}
/************************** SECTION *************************************/
.section{
    padding-top: 90px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
}
.section-header{
    overflow: hidden;
}
.section-header h1,
.section-header h2{
    margin-top:20px;
    margin-bottom: 20px;
}
.section-content{
    margin-top:50px;
    margin-bottom: 50px;
}
.section-white{
    background-color: #fff;
}

/************************** Card    *************************************/

.card{
    border:0;
    border-radius: 0;
    margin-bottom: 15px;
}
.card-img-top{
    border-radius: 0 !important;
    padding: 4px;
}

.final-price-tag {
    position: absolute;
    top:0;
    right: 0;
    background: linear-gradient(135deg,#fc3 20%,#ffb347 80%);
    color: #000;
    text-transform: uppercase;
    padding: 5px 10px;
    font-family: 'Dosis', sans-serif !important;
    font-weight:600;
    letter-spacing:1px;
}
.final-price-tag .currency{
    color: #f75b71;
}

/************************* MEDIA ****************************************/

.media-card{
    display: table;
    position: relative;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.14);
    padding: 15px;
    margin-bottom: 15px;
}
.media-left{
    display: table-cell;
}

.media-right {
    display: table-cell;
}
.media-right p{
    text-align: justify;
    font-size: 14px;
}

.media-sticker{
    background: linear-gradient(135deg,#fc3 20%,#ffb347 80%);
    width: 100px;
    height: 100px;
    padding:15px;
    text-align: center;
    position: relative;
    margin-right:15px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Dosis', sans-serif !important;
    line-height: 1;
}
.media-sticker .vertical-middle{
    display: block;
    top:50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.media-sticker .text{
    display: block;
    text-transform: uppercase;
}
.media-sticker .number{
    display: block;
    font-size: 36px;
}

/************************** Buttons *************************************/
.btn{
    border:0;
    border-radius: 0;
    font-size: 13px;
    font-weight: 400;
}

.btn-theme{
    background: linear-gradient(135deg,#fc3 20%,#ffb347 80%);
    color: #000 !important;
    font-weight: 600 !important;
    letter-spacing: 3px !important;
    font-family: 'Dosis', sans-serif !important;
    box-shadow: 0 1px 1px rgba(0,0,0,.14);
    margin-left: 7px;
    margin-right: 7px;
}

.btn-pink{
    background: linear-gradient(135deg,#f75b71 20%,#ffc371 80%);
    background: linear-gradient(135deg, #f74c5c 10%,#f75b71 100%);
    background-color: #f75b71;
    color: #fff !important;
    font-weight: 600 !important;
    letter-spacing: 3px !important;
    font-family: 'Dosis', sans-serif !important;
    box-shadow: 0 1px 1px rgba(0,0,0,.14);
}

.btn-mr{
    margin-left: 7px;
    margin-right: 7px;
}

.btn-theme-ghost{
    background: linear-gradient(135deg,#fc3 20%,#ffb347 80%);
    color: #000 !important;
    font-weight: 600 !important;
    letter-spacing: 3px !important;
    font-family: 'Dosis', sans-serif !important;
    box-shadow: 0 1px 1px rgba(0,0,0,.14);
    text-transform: uppercase;
    border:0;
    border-radius: 0;
    padding: .7rem 3rem;
    font-size: 18px;
    margin-top:50px;

}